.header {
  composes: base from '../global-styles/config.postcss';
  text-decoration: none;
  font-size: 3rem;
  color: var(--color-tertiary);
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
