{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "flow",
    "react"
  ],
  "sourceMaps": true,
  "ignore": [
    ".cache-loader",
    "*.ts",
    "./dist/*",
    "./build/*",
    "./docs",
    "./Documentation"
  ]
}
