{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "flow"
  ],
  "sourceMaps": true,
  "ignore": [
    "*.ts",
    "./dist/*",
    "./build/*",
    "./docs",
    "./Documentation"
  ]
}