{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0",
    "flow"
  ],
  "sourceMaps": true,
  "ignore": ["*.ts", "./dist/*", "./build/*", "./docs", "./Documentation"]
}
