# See http://help.github.com/ignore-files/ for more about ignoring files.

# env
/src/app/env/dev.env
/src/app/env/test.env
/src/app/env/prod.env

# compiled output
/dist
/build
C:\A.Project0\PersonalTools\A.Setup\app_StaticWebsite\build
/tmp
/typings
src/global-styles/css/*
cdn/
temp/

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode/
*.orig

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
npm-debug*

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

docs.json
debug.log