@import './reset.postcss';
@import './config.postcss';

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Test PurifyCSS - this is not used anywhere in Root.jsx */
#flex {
  display: flex;
}
