/*@import './tests/test_precss.postcss';*/
/*@import './tests/test_cssnext.postcss';*/

@import './shared/reset.postcss';
@import './shared/variables.postcss';
@import './shared/typography.postcss';
@import './shared/grid.postcss';
/*@import './shared/base.postcss';*/
/*@import './shared/utilities.postcss';*/

/*@import './components/footer/footer.postcss';*/
/*@import './components/header/header.postcss';*/
/*@import './components/mainContent/mainContent.postcss';*/
/*@import './components/sideContent/sideContent.postcss'; */

body {
  background-image: url('../assets/images/test.svg');
}
.main {
  grid-area: main;
  z-index: 1;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  text-align: left;
}
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'LeagueSpartan', sans-serif;
  color: var(--color-primary);
}
.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'LeagueSpartan', sans-serif;
}
#app .sidebar {
  grid-area: sidebar;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'LeagueSpartan', sans-serif;
}
.svg_over {
  position: absolute;
  z-index: -1;
}

/* Test PurifyCSS - this is not used anywhere */
#flex {
  display: flex;
}
