/*@import './tests/test_precss.postcss';*/
/*@import './tests/test_cssnext.postcss';*/

/*@import './shared/reset.postcss';*/
/*@import './shared/variables.postcss';*/
/*@import './shared/typography.postcss';*/
/*@import './shared/grid.postcss';*/
/*@import './shared/base.postcss';*/
/*@import './shared/utilities.postcss';*/

/*@import './components/footer/footer.postcss';*/
/*@import './components/header/header.postcss';*/
/*@import './components/mainContent/mainContent.postcss';*/
/*@import './components/sideContent/sideContent.postcss'; */

:root {
  --color-primary: #123456;
  --color-secondary: #fedcba;
  --color-tertiary: #ab34cd;
}

body {
  background-color: var(--color-primary);
}
.main {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
div.test {
  width: 100%;
  height: 5rem;
  background-color: var(--color-tertiary);
}

#flex {
  display: flex;
}
