/*@import './shared/reset.postcss';*/

:root {
  --color-first: #abcdef;
  --color-second: #654321;
  --color-third: #3c4d5e;
}

div.page {
  background-color: var(--color-first);
  color: var(--color-second);
}

p.page {
  background-color: var(--color-quaternary);
}
