/*@import './shared/reset.postcss';*/

:root {
  --color-tertiary: #abcdef;
  --color-quaternary: #654321;
}

div.page {
  background-color: var(--color-tertiary);
  color: var(--color-quaternary);
}

p.page {
  background-color: var(--color-quaternary);
}
