@import '../global-styles/config.postcss';

.footer {
  grid-area: footer;
  /* display: flex; */
  background-image: url('../../assets/images/test.svg');
  align-items: center;
  justify-content: center;
  font-family: 'LeagueSpartan', sans-serif;
}
