.container {
  clear: fix;
  width: 80%;
  margin: 0 auto;
  padding-left: 1.5rem;
}

.header {
  composes: typeHeader from '../../Screens/config.postcss';
  margin: 3rem auto 1.5rem auto;
  font-size: 2rem;
  line-height: 2.5rem;
}
