.container {
  clear: fix;
  margin-left: 10rem;
  margin-right: 3rem;
}

.heading {
  composes: typeHeader from '../../Screens/config.postcss';
}

.text {
  composes: typeNormal from '../../Screens/config.postcss';
}
