.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  composes: typeHeader from '../../Screens/config.postcss';
  text-decoration: none;
  color: var(--color-header);
}

nav > a:hover {
  color: var(--color-nav);
}

.activeLink {
  composes: link;
  text-decoration: underline;
  font-weight: bold;
}
