@import './reset.css';
@import './config.css';

@custom-media --viewport-medium (width <= 50rem);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

html,
body {
  min-height: var(--html-height);
  min-width: var(--html-width);
  font-size: 18px;
}

.test {
  composes: parent from './config.css';
  font-family: 'LeagueGothic';
  color: color-mod(var(--color-tertiary) alpha(80%));
}

.img {
  width: 500px;
  height: 500px;
}
