.container {
  margin-top: 2rem !important;
}

.text_title {
  composes: text_title from '../../Screens/config.postcss';
  margin-bottom: 1rem !important;
}
.text_body {
  composes: text_body from '../../Screens/config.postcss';
}

.mainListItem {
  composes: text_body;
  position: relative !important;
  top: -0.5rem !important;
  padding-left: 1rem !important;
}
