.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  composes: header from '../../Screens/config.postcss';
  margin-bottom: 1.5rem;
}

.text_title {
  composes: text_title from '../../Screens/config.postcss';
}
.text_body {
  composes: text_body from '../../Screens/config.postcss';
}

.principalInvestigator {
  display: flex;
  justify-content: center;
}

.grads {
  margin: 0 auto;
}

.undergrads {
  margin: 0 auto;
}
