.container {
  margin-top: 1.5rem !important;
  margin-bottom: 2rem !important;
}

.heading {
  composes: header from '../../Screens/config.postcss';
}

.text_title {
  composes: text_title from '../../Screens/config.postcss';
  font-weight: normal;
  font-size: 1.33rem !important;
}
