.container {
  clear: fix;
  margin-left: var(--component-margin);
  margin-right: var(--component-margin);
  /* background-color: var(--color-primary) !important; */
}

.header {
  composes: typeHeader from '../../Screens/config.postcss';
  font-size: 2rem;
  text-align: center;
}
