.person {
  clear: fix;
}

.person:hover {
  position: absolute;
  bottom: 0.5rem;
}

.publications {
  /* position: absolute; */
  color: var(--color-secondary);
  justify-content: flex-end;
  word-break: break-word;
}

.publication {
}
