<!-- Based on the latest HTML5BP version (v6.0.1) -->
<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="viewport" viewport-fit="cover" content="width=device-width, initial-scale=1">
  <link rel="icon" type="img/png" href="favicon.png">
  <%= htmlWebpackPlugin.files.webpackManifest %>
</head>

<body class="svg_over">
  <!--[if lte IE 9]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><![endif]-->
  <h1>JS Console</h1>
  <div class="main">
    <!-- <div class="jpg_over"></div>
    <div class="png_under"></div> -->
    <ul id="log"></ul>
  </div>
  <!-- <script type="module" src="./dist/main.js"></script>
    <script nomodule src="./dist/legacy/main.js"></script> -->
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date; ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')</script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>