.navbar {
  width: 90%;
  margin-bottom: 2.5rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.iconContainer {
  position: relative;
  top: 1.25rem;
  margin-right: 2rem;
}

.icon {
  font-size: 3rem !important;
  cursor: pointer;
}
