.text_title {
  composes: text_title from '../../Screens/config.postcss';
  margin-bottom: 1rem !important;
}
.text_body {
  composes: text_body from '../../Screens/config.postcss';
}
.text_lectures {
  composes: text_title from '../../Screens/config.postcss';
  font-weight: normal;
}
