.article {
  clear: fix;
  composes: base from '../global-styles/config.postcss';
  grid-area: main;
  display: flex;
  align-item: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}
