{
  "presets": ["flow", "react", ["env", { "modules": false }]],
  "ignore": [
    ".cache-loader",
    "*.ts",
    "./dist/*",
    "./build/*",
    "./docs",
    "./Documentation"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-imports",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-flow-strip-types",
    "transform-react-remove-prop-types",
    "transform-react-constant-elements"
  ]
}
