.logo {
  clear: fix;
  composes: typeHeader from '../../Screens/config.postcss';
  position: relative;
  /* left: 25%; */
  bottom: 1.75rem;
  line-height: 4.5rem;
}

.fitch {
  position: absolute;
  font-size: 3.75rem;
  font-weight: bold;
  letter-spacing: 1.5rem;
  text-align: center;
}

.lab {
  position: absolute;
  left: 0.1rem;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.425rem;
  text-align: center;
}
