.container {
  clear: fix;
  width: 80%;
  display: flex;
  margin: 5rem auto 2rem auto;
  align-items: center;
  justify-content: space-around;
}

.sponsors {
  margin-left: 10rem;
}

.legalinfo {
  composes: typeNormal from '../../Screens/config.postcss';
  margin-left: 5rem;
}
