{
  "extends": ["airbnb", "prettier"],
  "plugins": ["json", "html"],
  "settings": {
    "html/html-extensions": ["html", "htm", "xml"],
    "html/indent": "+2",
    "html/report-bad-indent": "error"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    //"react/jsx-filename-extension": [1, {"extensions": [".js"]}] //Might not need this
    "max-len": [1, 70, 2, { "ignoreComments": true }],
    "no-plusplus": "error",
    "no-unused-vars": "warn",
    "valid-jsdoc": "warn"
  }
}
